<!doctype html>
<html >
<head>
  <title>title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="stylesheet" href="/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
   <meta charset="UTF-8">
    <!-- JS from Bower Components -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/public/frontend/socket.io.js"></script>
  <script src="/public/frontend/client.js"></script>
  <script src='/bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
  <script src='/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js'></script>
  <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/public/frontend/app.js"></script>
  <script src="/public/frontend/services/auth.js"></script>
  <script src="/public/frontend/services/posts.js"></script>
  <script src="/public/frontend/services/meetings.js"></script>
  <script src="/public/frontend/services/infrostructure/httpModel.js"></script>
  <script src="/public/frontend/services/sockets.js"></script>
  <script src="/public/frontend/modules/home/home.js"></script>
  <script src="/public/frontend/modules/start/start.js"></script>
  <!-- Add New Bower Component JS Above -->
</head>
<body ng-app="app">
  <div ui-view></div>
</body>
</html> 