<div id="right" ng-if="!isAuthorized">
	<h3>Hi, bro!</h3>
	<form ng-submit="login(name, location)">
		<input type="text" name="name" placeholder="Your name bro!" ng-model="name" class="form-control"/>
		<input type="text" name="location" placeholder="Your location, bro!" ng-model="location" class="form-control"/>
		<input type="submit" name="submit" class="form-control" value='sign in'/>
	</form>
</div>

<a href="/start" ng-if="speakUpLoggedManager" class="btn btn-sm btn-warning">Start meeting!</a>


<div id="right" ng-if="isAuthorized">
	<form name="form">
		<h3>Hi, {{name}}! Try to add post below!</h3>
		<textarea name="text" class="form-control" ng-model="message.text" cols="30" rows="10"></textarea>
		<button class="btn btn-sm btn-primary button" ng-click="insert(message.text, form)">Post me!</button>
	</form>
</div>

<h3>Active meeting:</h3> {{meeting.name || meeting.error}} 
<button ng-if="speakUpLoggedManager && !meeting.error" class="btn btn-xs btn-danger" ng-click="stop()">Stop meeting!</button>

<h3>Meetings history:</h3> 

<p ng-repeat="item in history.items">
	{{item.name}}
	{{item.author}}
</p>

<span ng-if="history.error">{{history.error}}</span>

<div class="post" ng-repeat="post in posts">
	<span>{{post.author}}</span>
	<div>{{post.time}}</div>
	<p>{{post.text}}</p>
</div>